*{
    margin: 0;
    padding: 0;
}
body{
    -webkit-font-smoothing: antialiased;
    font-family: Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5b8b\4f53,sans-serif;
    font-size:100%;
    background-color: #fff;
    color: #454545;
    min-width:1200px;
}
li{
    list-style: none;
}
p,a,li,ul{
    font-size: 0.14rem;
}
/*清除浮动*/
.left{
    clear: both;
}
/*更多按钮 class="more"*/
a.more{
    display: block;
    border-radius: 0.06rem;
    width: 3.24rem;
    height: 0.75rem;
    line-height: 0.75rem;
    border: 1px solid #ededed;
    color: #afafaf;
    font-size: 0.33rem;
    margin: 0.40rem auto;
    text-align: center;
    text-decoration: none;
}
a.more:hover,a.more:visited{
    background: #3f3f3f;
    color: #aeaeae;
}