/*banner下的描述列表*/
.index .disc{
    /*height: 318px;*/
    width: 100%;
    color: #fff;
    background: #9e9e9e;
    text-align: center;
    padding: 0.30rem 0;
}
.index .disc h4{
    font-size: 0.38rem;
}
.index .disc p.disc_t2{
    font-size: 0.26rem;
}
.index .disc ul{
    width: 93.75%;
    margin: 0 auto;
    /*padding: 0 60px;*/
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
}
.index .disc li{
    width: 4.4rem;
    height: 1.50rem;
    text-align: right;
    border: 1px solid #c5c5c5;
}
.index .disc li{
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    align-items: center;
    -webkit-align-items: center;
}
.index .disc li div:first-child{
    text-align: left;
}
.index .disc li div:first-child p:first-child{
    font-size: 0.48rem;
}