/*大部分图片展示区域=======九宫格图片区域*/
.index .product div{
    width: 98%;
    margin: 0 auto;
    text-align: center;
}
.index .product div h1{
    font-size: 0.54rem;
    color: #000000;
}
.index .product div p:nth-child(2){
    color: #454545;
    font-size: 0.16rem;
    line-height: 0.40rem;
}
.index .product div ul{
    /*width: 100%;*/
}
.index .product div li{
    position: relative;
    width: 22%;
    margin-left: 4%;
    float: left;
    text-align: left;
}
.index .product div li:first-child,.index .product div li:nth-child(4n+1){
    margin-left: 0;
}
.index .product div li img{
    width: 100%;
    height: 4.28rem;
}
.index .product div li h6{
    font-size: 0.16rem;
    margin-top: 0.05rem;
    line-height: 0.22rem;
    color: #000;
}
.index .product div li p{
    color: #454545;
    font-size: 0.12rem;
    line-height: 0.25rem;
    margin-bottom: 0.10rem;
}
.index .product li a{
    text-decoration: none;
}
.index .product li a:hover:before{
    content: '';
    width: 100%;
    height: 4.28rem;
    position: absolute;
    background: rgba(0,0,0,0.7) url('../img/arrow.png') no-repeat center center;
    background-size: 1.00rem 1.00rem;

}
.index .product li a:hover:after{
    content: '';

}
.index .product li a:hover .readNum{
    display: block;
}
.index .product li .readNum{
    display: none;
    position: absolute;
    top: 3.9rem;
    color: #fff;
    right: 0.10rem;
}
.index .product li .readNum img{
    width: 0.24rem;
    height: 0.14rem;
    margin-right: 0.06rem;
    vertical-align: middle;
}
.index .product fieldset{
    border: none;
    margin: 0.75rem auto 0.2rem;
    width: 6.58rem;
    border-top:2px solid #b3b3b3;
}
.index .product legend{
    text-align: center;
    font-size: 0.4rem;
    margin:0 auto;
}